{% extends 'accounts/base.html' %}


{% block body %}
{{block.super}}
<div class="container my-3">
    <h1>Settings</h1>
    <hr>
    <div class="row">
        <div class="col-md-4 text-center">
            {% if name == '' %}
              <h4>Hey User!</h4>
            {% else %}
              <h4>Hey {{name}}!</h4>
            {% endif %}
            <p>We Hope you're having an amazing day..</p>
            <a href="{% url 'logout' %}" class="btn btn-info">logout</a>
        </div>

          <div class="col">
            {% if messages %}
            {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show" {% endif %}>
             <strong>{{message}}</strong> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            {% endfor %}
            {% endif %}
  
            <form action="" method="POST" novalidate>
              {% csrf_token %}
              {% for forms in form %}
              <div class="form-group">
                 {{forms.label_tag}}
                 {{forms}} 
                 <h6 class="text-danger my-2">{{forms.errors|striptags}} </h6>
              </div>
               {% endfor %}
               <input type="submit" value="save" class="btn btn-danger my-2">
         </form>
        </div>
    </div>
</div>
{% endblock body %}